body {
    display: flex;
    background-color: #e3e3d7;
    max-width: 98%;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.body-container{
    display: flex;
    width: 900px;
    max-width: 95%;
    height: auto;
    flex-direction: column;
    justify-content: center;
}
.flex-header {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.nav{
    display: flex;
    font-family: 'Great Vibes', cursive;
    background-color:#750000;
    border-radius: 30px;
    background-color:#750000;
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    justify-content: center;
    margin-top:20px;
}
@media (max-width: 768px) {
    .nav {
        font-size: 5vw;
    }
}
.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding: 0;
    margin: 0;
    max-width: 100%;
    gap: 20px;
}
.nav-item {
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.flex-header {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header-image{
    display: flex;
    width:300px;
}

.header-title {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #750000;
    padding:30px;
    border-radius: 30px;
    color:white;
    font-family: 'Great Vibes', cursive;
}

.header-subtitle {
    display: flex;
    justify-content: center;
    font-size: 25px;
    background-color: #750000;
    padding:30px;
    border-radius: 30px;
    color:white;
    font-family: 'Great Vibes', cursive;
}


.cta-btn {
    display: flex;
    background-color: #ca1514;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    margin-bottom: 15px;
}
@media (max-width: 768px) {
    .cta-btn {
        font-size: 10vw;
    }
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title {
    font-family: 'Great Vibes', cursive;
    background-color: #750000;
    color: white;
    border-radius: 30px;
    font-size:40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.produto {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
    border-radius: 30px;
    background-color: #750000;
    font-size: 20px;
    margin-bottom: 20px;
}
.produto-title {
    font-size:40px;
    font-family: 'Great Vibes', cursive;
}
.produto-description {
    text-align: center;
}
.brownie-image {
    display: flex;
    justify-content: center;
    height: auto;
    max-width: 99%;
    border-radius: 30px;
}
.sobre-section{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
    border-radius: 30px;
    background-color: #750000;
    font-size: 20px;
    margin-bottom: 20px;
}
.sobre-title{
    font-family: 'Great Vibes', cursive;
    font-size:40px;
    color: white;
}
.sobre-description{
    font-size: 20px;
    color: white;
    text-align: center;

}

.cta-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    border-radius: 30px;
    background-color: #750000;
    font-size: 20px;
    margin-bottom: 20px;
}

.cta-title{
    display:flex;
    font-family: 'Great Vibes', cursive;
    font-size:40px;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    .cta-title {
        font-size: 8vw;
    }
}   
.cta-text{
    text-align: center;
    font-size: 20px;
}
.contato-section{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
    border-radius: 30px;
    background-color: #750000;
    font-size: 20px;
    margin-bottom: 20px;
}
.whatsapp-link {
    color: white;
}

.address-link {
    color:white;
}
